@font-face {
  font-family: "Montserrat-light";
  src: url("../fonts/Monstserrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat-regular";
  src: url("../fonts/Monstserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Monstserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-medium";
  src: url("../fonts/Monstserrat/Montserrat-Medium.ttf");
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.8);
}

body::-webkit-scrollbar-thumb {
  background-color: #496cacdf;
  outline: 1px solid #496cacdf
}

@keyframes scrollup {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
}

.icon-mouse #ball {
  animation: scrollup infinite ease 1s;
}

@keyframes scrolldown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.icon-mouse #arrow1,
.icon-mouse #arrow2 {
  animation: scrolldown infinite ease 1s;
}

/* MOBILE */
@media only screen and (min-width: 320px){
  /*começando o header*/
  header.top-site {
    position: fixed;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
  }
  header.top-site #menu-site {
    height: 100vh;
    width: 95vw;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    display: block;
    transition-duration: 0.5s;
    transform: translateX(800px);
    opacity: 0;
  }

  body.open #menu-site {
    transform: translateX(0);
    opacity: 1;
  }

  body.open #menu-hotdog {
    transform: rotate(720deg);
    background: url("../close-menu.svg") no-repeat;
  }

  #menu-hotdog {
    margin-right: 10%;
    z-index: 3;
    width: 38px;
    height: 38px;
    background: url("../menu-hotdog.svg") no-repeat;
    transition-duration: 0.5s;
  }

  .show-desktop {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #menu-site ul {
    display: flex;
    flex-direction: column;
    margin-top: 30%;
  }

  #menu-site li {
    text-align: center;
    min-height: 50px;
    font-size: 1.2em;
  }

  #menu-site a {
    text-decoration: none;
    color: #333;
    font-family: "Montserrat-light";
  }

  /*começando o full banner*/
  section.full-banner {
      width: 100%;
      height: 100vh;
      background-image: url("../images/full-banner/375.jpg");
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 20vh;
  }

  .full-banner .destak {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 2;
  }

  .destak .title-destak {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
  }

  .title-destak h1,
  .title-destak h2 {
      margin: 0;
  }

  .title-destak h2 {
      font-size: 1.5em;
      text-align: center;
      font-family: "Montserrat-medium";
  }

  .title-destak h1 {
      font-size: 2.6em;
      text-transform: uppercase;
      font-family: "Montserrat-regular";
  }

  .full-banner form,
  .full-banner form label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 120px 0px;
    z-index: 2;
  }

  .full-banner .input-form-search {
    width: 90%;
    min-height: 45px;
    border: none;
    border-radius: 15px;
    outline: 0;
    margin-top: 4%;
    padding-left: 5%;
  }

  .full-banner .input-form-search,
  .full-banner .input-form-search::-webkit-input-placeholder {
    font-size: 0.8em;
  }

  .full-banner .input-form-search::-webkit-input-placeholder {
    color: #ccc;
  }

  section.full-banner:before {
    background-color: #00000050;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    content: '';
  }

  .logo-mobile {
    z-index: 2;
  }

  .icon-mouse > svg {
    height: 50px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    width: auto;
    z-index: 2;
  }

  .icon-mouse > svg > #mouse,
  .icon-mouse > svg > #ball {
    display: none;
  }

  /*COMEÇANDO O FOOTER*/
  .footer-site {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    background-color: #282828;
    position: relative;
  }

  .footer-site .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-site .footer-links > nav,
  .footer-site .footer-links .address,
  .footer-site .footer-links .social-media,
  .footer-site .footer-links .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer-site .footer-links > nav li {
    margin-bottom: 10px;
    text-align: center;
  }

  .footer-site .footer-links > nav a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat-light";
    font-size: 1em;
  }

  .footer-site .footer-links .address p {
    font-size: 1em;
    color: #fff;
    line-height: 1.5em;
    font-family: "Montserrat-light";
  }

  .footer-site .footer-links .social-media {
    justify-content: space-around;
    width: 100%;
    padding: 0 70px;
  }

  .footer-site .copyright {
    display: flex;
    justify-content: center;
    /*background-color: rgba(40,40,40,0.9);*/
  }

  .footer-site .copyright p {
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: "Montserrat-regular";
    font-size: 0.7em;
    line-height: 1.5em;
    padding: 0 55px;
  }

  .footer-site #gototop {
    width: 60px;
    height: 60px;
    background: #333;
    position: absolute;
    right: 20px;
    top: -25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #gototop a {
    text-decoration: none;
    color: #fff;
  }

  /*COMEÇANDO O SLIDER*/
  .slider .title-slider {
    font-family: "Montserrat-bold";
    font-size: 1.2em;
    margin-left: 5%;
  }

  .links-slider ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
  }

  .links-slider li {
    list-style: none;
    min-width: 50px;
    text-align: center;
  }

  .links-slider li > a {
    text-decoration: none;
    color: #757575;
    font-family: "Montserrat-regular";
    font-size: 9px;
    padding-bottom: 5px;
  }

  .links-slider li > a.active {
    border-bottom: 3px solid red;
  }

  .carousel-container {
    width: 100%;
    overflow: hidden;
    height: 500px;
  }

  .carousel-container .carousel-gallery {
    width: 86%;
    margin: 10px auto;
    display: flex;
  }

  .carousel-gallery .card {
    width: 250px;
    height: 345px;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    transition-duration: 0.5s;
    opacity: 0;
  }

  .carousel-gallery .card.show {
    opacity: 1;
  }

  .carousel-gallery .card + .card {
    margin-left: 30px;
  }

  .carousel-gallery .gallery-picture {
    width: 218px;
    height: 218px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: inherit;
  }

  .gallery-picture .gallery-ellipse {
    position: absolute;
    width: 58px;
    height: 58px;
    border: none;
    margin: 5%;
    background-color: rgba(255,255,255,0.8);
    top: 0;
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .gallery-ellipse:active > svg > path,
  .gallery-ellipse.active > svg > path,
  .gallery-ellipse:hover > svg > path,
  .gallery-ellipse:focus > svg > path,
  .gallery-ellipse:visited > svg > path {
    fill:red;
  }

  .card > h2 {
    font-family: "Montserrat-bold";
    margin: unset;
    font-size: 1.1em;
    width: 90%;
    text-align: center;
  }

  .card .card-location {
    display: flex;
    height: 24px;
  }

  .card-location h3 {
    font-family: "Montserrat-light";
    color: #949494;
    margin: unset;
    margin: 5px;
  }

}

@media only screen and (min-width: 411px){
  section.full-banner{
      background-image: url("../images/full-banner/411.jpg");
  }

  .title-destak h2 {
    font-size: 1.6em;
  }

  .footer-site .copyright p {
    padding: 0 70px;
  }

  .links-slider li > a {
    font-size: 11px;
  }
}

/* TABLET */
@media only screen and (min-width: 768px){
  section.full-banner{
      background-image: url("../images/full-banner/768.jpg");
  }

  .show-desktop {
    display: block;
  }

  header.top-site {
    justify-content: space-between;
  }
  #logo {
    margin-left: 10%;
  }

  .logo-mobile.show-mobile {
    display: none;
  }

  .full-banner .destak {
    width: 90%;
  }

  .title-destak h2 {
    font-size: 2em;
  }

  .title-destak h1 {
    font-size: 2.6em;
  }

  .full-banner .input-form-search,
  .full-banner .input-form-search::-webkit-input-placeholder {
    padding-top: 1%;
    font-size: 1em;
  }

  .full-banner form label {
    padding: 0 5%;
  }

  .footer-site .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-site .footer-links .social-media {
    width: unset;
    padding: 0px;
  }

  .footer-site .footer-links .social-media a + a {
    margin-left: 20px;
  }

  .footer-site .footer-links > nav li {
    text-align: unset;
  }

  /*slider*/
  .slider .title-slider {
    font-size: 1.3em;
  }

  .links-slider li {
    min-width: 100px;
  }

  .links-slider li > a {
    font-size: 14px;
  }

  .carousel-container .carousel-gallery {
    width: 92%;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1200px){
  section.full-banner{
      background-image: url("../images/full-banner/1920.jpg");
  }

  header.top-site #menu-site {
    height: 80px;
    width: 100%;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;
    transform: unset;
    opacity: 1;
  }

  .show-mobile {
    display: none;
  }

  header.top-site {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    );
    flex-direction: row;
  }

  #menu-site ul {
    flex-direction: row;
    margin-top: unset;
  }

  #menu-site li {
    min-width: 150px;
    text-align: center;
    min-height: unset;
    font-size: unset;
  }

  #menu-hotdog {
    display: none;
  }

  #menu-site a {
    color: #f4f4f4;
  }

  .full-banner .destak {
    width: 80%;
  }

  .destak .title-destak {
    width: 60%;
  }

  .title-destak h1 {
    font-size: 5em;
  }

  .full-banner .input-form-search {
    width: 75%;
    min-height: 65px;
  }

  .full-banner .input-form-search,
  .full-banner .input-form-search::-webkit-input-placeholder {
    padding-top: 0;
  }

  .icon-mouse > svg > #mouse,
  .icon-mouse > svg > #ball {
    display: block;
  }

  .links-slider li {
    min-width: 150px;
    text-align: left;
  }

  .links-slider li > a {
    font-size: 20px;
  }

  .carousel-gallery .card:hover {
    cursor: pointer;
  }

  .carousel-gallery .card .gallery-picture img {
    transition-duration: 0.5s;
  }

  .carousel-gallery .card:hover .gallery-picture img {
    transform: scale(1.2);
    transform-style: preserve-3d;
  }
  .carousel-container .carousel-gallery {
    width: 95%;
  }

}